.vscode/settings.json
files/credentials.txt
test.py
cogs/__pycache__/blackjack.cpython-37.pyc
cogs/__pycache__/cah.cpython-37.pyc
cogs/__pycache__/codenames.cpython-37.pyc
cogs/__pycache__/course.cpython-37.pyc
cogs/__pycache__/example.cpython-37.pyc
cogs/__pycache__/games.cpython-37.pyc
cogs/__pycache__/jokes_and_memes.cpython-37.pyc
cogs/__pycache__/misc.cpython-37.pyc
cogs/__pycache__/test.cpython-37.pyc
cogs/__pycache__/werewolf.cpython-37.pyc
.gitignore
graph.png
testing.py
testing2.py
assignments.sqlite
cogs/extraClasses/__pycache__/AssignmentDB.cpython-37.pyc
cogs/extraClasses/__pycache__/hangman.cpython-37.pyc
cogs/extraClasses/__pycache__/TicTacToe.cpython-37.pyc
cogs/extraClasses/__pycache__/werewolf.cpython-37.pyc
cogs/extraClasses/__pycache__/werewolf.cpython-37.pyc.1967383052512
cogs/__pycache__/manga.cpython-37.pyc
cogs/__pycache__/assignment.cpython-37.pyc
cogs/extraClasses/__pycache__/blackjack.cpython-37.pyc
cogs/extraClasses/__pycache__/CardsAgainstHumanity.cpython-37.pyc
cogs/extraClasses/__pycache__/codenames.cpython-37.pyc
manga.pdf
